/**
@author:        Tomas Vondracek
@date:          6.11.2016
@description:   Basic media queries using string variables declared in base/config.less or given argument represented by number

  *** USE CASE ***
  .media(@xxs{
      color: red;
   });
  .media(150px,250px{ //SAME AS mediaBetween();
      ...
  });
  .mediaMin(150px{
      ...
  });
  ...
*/
/**
*
* When adding new mixin, always place last property without vendor prefix, also use only appropriate vendors(no -khtml...)
*
* @author:        Tomas Vondracek
* @date:          6.11.2016
* @description:   CSS3 mixins with appropriate vendor prefixes
*
*/
/*---FlexBox---
  @flex: flex, flex-inline
  --------------------------*/
/*---Flexbox Direction---
  @type: row, column
  Direction: normal, reverse
  --------------------------*/
/*---Flexbox Wrap---
  @wrap: wrap, nowrap, wrap-reverse
  --------------------------*/
/*---Flexbox Justify Content---
  @justify-content: start, end, center, space-between, space-around

  *FIXME* - Creates duplicate CSS
  --------------------------*/
/*---Flexbox Align Items---
  @align-items: center, baseline, stretch, start, end
  --------------------------*/
/*---Flexbox Align Content---
  @align-items: start, end, center, space-between, space-around

  *FIXME* - Creates duplicate CSS
  --------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sr_only,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.center_block,
.center-block {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto !important;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
.rul {
  margin: 0;
  padding: 0;
}
.rli {
  margin: 0;
  padding: 0;
  background: none;
}
.rli:before {
  content: '';
}
.rlist {
  margin: 0;
  padding: 0;
}
.rlist li {
  margin: 0;
  padding: 0;
  background: none;
}
.rlist li:before {
  content: '';
}
.rin {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
}
.cleaner {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  float: none;
}
@media (max-width: 1229px) {
  .mod_custom-translator {
    top: 0;
  }
}
@media (max-width: 1000px) {
  .mod_custom-fontChanger {
    display: none;
  }
}
.mod_partners .partners a {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .mod_partners .partners a {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .mod_partners .partners a img {
    margin: 0 auto;
    display: block;
  }
}
.ui-datepicker-header [class*="-title"] {
  width: 50%;
  margin: 0 auto;
}
.ui-datepicker-header [class*="-title"] [class*="month"] {
  margin-left: 18%;
  text-align: center;
}
@media (max-width: 500px) {
  .ui-datepicker-header [class*="-title"] [class*="month"] {
    margin-left: 10%;
  }
}
