.mod_partners .container {
  background: red;
}
.mod_partners .container > h2 {
  display: none;
}
.mod_partners .container .links {
  float: left;
}
.mod_partners .container .partners {
  float: right;
}
.mod_partners {
  background: red;
}
