//GridSetting
@leftSide: 60%;
@rightSide: 100-@leftSide;
@gridMarginLR: 35px;

//section
@headerMarginBottom: 20px;

//item
@imgHeight: 116px;
@imgWidth: 170px;
@itemMarginBottom: 45px;
@itemContentLeft: 35px;

.makeGrid(@width) {
  position: relative;
  width: @width;
  float: left;
  .mediaMax(1000px, { width: 100%; });
}

.makeItem(@height,@marginBottom) {
  position: relative;
  min-height: @height;
  margin-bottom: @marginBottom;
}

//structure of mod articles
.container .mod_main-content {
  .makeGrid(@leftSide);

  ol, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    &::before {
      content: "";
    }
  }
  & > header {
    margin-bottom: @headerMarginBottom;
    h1 {
      margin: 0;
      padding: 0;
    }
  }
  .item {
    position: relative;
    header, footer {
      margin-left: @imgWidth + @itemContentLeft;
    }
    header {
      display: block;
      time, h2, a {
        display: inline;
        color: @black;
      }
    }

    .body {
      a.img-wrapper {
        position: absolute;
        top: 0;
        float: left;
        display: block;
        height: @imgHeight;
        width: @imgWidth;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

//skin of mod articles
.container .mod_main-content {

  & > header h1 {
    position: relative;
    .fh;
    color: @darkBlue;
    font-weight: normal;
    font-size: 210%;
    top: -11px;

  }
  .item {
    margin-bottom: @itemMarginBottom;

    header {

      position: relative;
      top: -7px;

      h2 {
        margin-left: 13px;
      }
      & > h2 a {
        .fh;
        color: @lightBlue;
        font-weight: 500;
        font-size: 95%;
        position: static;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      time {
        span {
          .fh;
          color: #919191;
          font-weight: bold;
          &:nth-child(n) {
            &:not(:last-child)::after {
              content: "/";
            }
          }
        }
      }
    }
  }

  .body {
    img {
      .transition();
    }
    a.img-wrapper {
      .transition();
      &:hover {
        .filter(brightness(120%) contrast(110%));
        img {
          .border-radius(2px);
        }
      }
    }
  }

  footer {
    margin-top: 4px;
    margin-bottom: 45px;
    p, .readMore {
      .fp;
    }

    .readMore {
      display: block;
      height: 25px;
      width: 25px;
      text-decoration: none;
      &::after {
        content: "\e808";
        .fi;
        position: relative;
        font-size: 110%;
        color: @lightOrange;
      }
      &:hover::after {
        .animation(ReadMore 1.5s infinite);
      }
      .keyframes(ReadMore, { 0% {
        bottom: 0;
      } 50% {
          bottom: -4px;
        } 100% {
            bottom: 0;
          } });

      span {
        display: none;
      }
    }
  }

  .mod_articles-nav {
    a {
      .fh;
      font-size: 150%;
      color: @lightBlue;
      text-decoration: none;
      padding: 10px;
      &::after {
        content: "";
        display: block;
        border-bottom: 1px solid @lightBlue;
        width: 190px;
        visibility: hidden;
        // .transition(0.1s all linear);
      }
      &:hover::after {
        visibility: visible;
        width: 190px;
      }
      &:active, &:focus {
        position: relative;
        top: 2px;
        left: .5px;
      }
      &::before {
        content: "\f16c";
        color: @darkBlue;
        .fi;
        padding-right: 10px;
      }
    }
  }
}

//media of mod_main-content
.container .mod_main-content {

  .mediaMax(1000px, { .mod_articles-nav {
    margin-bottom: 60px;
  } });

  .mediaMax(500px, { .item {
    .body {
      position: static;
      a.img-wrapper {
        position: static;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        img {
          max-width: 100%;
          height: auto;

        }
      }
    }
    header, footer {
      position: relative;
      display: block;
      width: 100%;
      float: left;
      margin: 0;
      padding: 0;
    }

    footer {
      margin-bottom: 30px;
    }
  } });

}

//Structure of .mod_aside
.container .mod_aside {
  .makeGrid(@rightSide);
  .mod_aside-info {
    // background: red;
    & > header {
      margin-bottom: @headerMarginBottom;
      h2 {
        margin: 0;
        padding: 0;
      }
    }
    dl {
      // background: brown;
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
    dt {
      float: left;
      width: 8%;

    }
    dd {
      float: left;
      width: 92%;
    }
  }
}

//Skin of .mod_aside
.container .mod_aside {

  .makeGrid(@rightSide);
  padding-left: 30px;
  .mod_aside-info {

    padding-left: 43px;
    .fh;
    & > header {
      margin-top: -3px;
      margin-bottom: 25px;
      h2 {
        .fh;
        font-size: 170%;
        color: @blue;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    dl {
      position: relative;
      overflow: visible;
      &::after {
        content: "\e80c";
        .fi;
        position: absolute;
        right: -59px;
        display: block;
        height: 58px;
        line-height: 53px;
        width: 122px;
        font-size: 155%;
        color: @white;
        padding-left: 10px;
        text-align: center;
        background: url("@{img}/bg/flags/sideShape.png") no-repeat center center;
        .background-size(contain);
      }

    }
    dt, dd {
      .fh;
      font-size: 130%;
      line-height: 29px;
      height: 29px;
      display: block;
    }
    dt {
      color: @blue;
      font-weight: bold;
    }
    dd {
      color: @darkBlue;
    }
  }
  .mod_aside-address {

    position: relative;
    top: 32px;
    margin-top: 165px;
    h3 {
      .fh;
      color: @blue;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
    div {
      .fp;
      line-height: 37px;
      height: 30px;
    }
    .tel {

      margin-top: 18px;
      a {
        .fh;
        color: @blue;
        font-size: 150%;
        text-decoration: none;
        display: inline-block;
      }
    }
    .email {
      a {
        .fh;
        display: inline-block;
        text-decoration: none;
        color: inherit;
        font-size: 110%;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &::after {
      content: "\f0e0";
      .fi;
      position: absolute;
      top: 5px;
      right: -59px;
      display: block;
      height: 58px;
      line-height: 52px;
      width: 122px;
      font-size: 135%;
      color: @white;
      padding-left: 10px;
      text-align: center;
      background: url("@{img}/bg/flags/sideShape.png") no-repeat center center;
      .background-size(contain);
    }
  }
  &:nth-child(even)::after {
    content: "";
    display: block;
    background: url("@{img}/fontelloIcons/shadow.png") no-repeat center center;
    .background-size(contain);
    height: 50px;
    margin: 55px 30px 0;
  }
}

//media of .mod_aside
.container .mod_aside {

  .mediaMax(1000px, { padding-left: 0px; });
  .mediaMax(600px, { &::after {
    margin: 30px 0 0;
  } });

  .mod_aside-info {
    .mediaMax(1000px, { padding-left: 0px; });
  }
  dl, .mod_aside-address {
    .mediaMax(1350px, { &::after {
      right: 0 !important;
    } });

    .mediaBetween(1000px, @screen-lg, { &::after {
      top: -2px;
      right: -20px !important;
      height: 45px !important;
      line-height: 40px !important;
      font-size: 120% !important;
    } });

    .mediaMax(1000px, { &::after {
      .transition();
      right: 20px !important;
    } });

    .mediaMax(440px, { &::after {
      z-index: -1;
      .opacity(.5);
      .rotate(-3deg);
    } });

    .mediaMax(319px, { &::after {
      display: none !important;
    } });
  }
  dt {
    .media(@xxs, { width: 11% !important; });
  }
  dd {
    .media(@xxs, { width: 89% !important; });
  }
}

//skin of .mod_aside containing .mod_c.._recommendation
.container .mod_aside {
  padding-left: 30px;
  .mod_aside-recommendation {
    padding-left: 43px;
    .fh;
    & > header {
      margin-top: -5px;
      padding-bottom: 10px;
      h2 a {
        .fh;
        color: @darkBlue;
        font-weight: normal;
        font-size: 130%;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

  }
}


