/**
@author:        Tomas Vondracek
@date:          6.11.2016
@description:   Basic media queries using string variables declared in base/config.less or given argument represented by number

  *** USE CASE ***
  .media(@xxs{
      color: red;
   });
  .media(150px,250px{ //SAME AS mediaBetween();
      ...
  });
  .mediaMin(150px{
      ...
  });
  ...
*/

.media(@breakpoint, @content) when (isString(@breakpoint) = true) {
  @media @breakpoint {
    @content();
  }
}

.media(@minBreakpoint, @maxBreakpoint, @content) when (isNumber(@minBreakpoint) = true), (isNumber(@maxBreakpoint) = true) {
  @media (min-width: @minBreakpoint) and (max-width: @maxBreakpoint) {
    @content();
  }
}

.mediaMin(@minBreakpoint, @content) when (isNumber(@minBreakpoint) = true) {
  @media (min-width: @minBreakpoint) {
    @content();
  }
}

.mediaMax(@maxBreakpoint, @content) when (isNumber(@maxBreakpoint) = true) {
  @media (max-width: @maxBreakpoint) {
    @content();
  }
}

.mediaBetween(@minBreakpoint, @maxBreakpoint, @content) when (isNumber(@minBreakpoint) = true), (isNumber(@maxBreakpoint) = true) {
  .media(@minBreakpoint, @maxBreakpoint, @content);
}

