/**
*
* When adding new mixin, always place last property without vendor prefix, also use only appropriate vendors(no -khtml...)
*
* @author:        Tomas Vondracek
* @date:          6.11.2016
* @description:   CSS3 mixins with appropriate vendor prefixes
*
*/

.background-size(@args...) {
  -o-background-size: @args;
  -moz-background-size: @args;
  -webkit-background-size: @args;
  background-size: @args;
}

.border-radius(@args...) {
  -moz-border-radius: @args;
  -webkit-border-radius: @args;
  border-radius: @args;
}

.border-image(@args...) {
  -o-border-image: @args;
  -webkit-border-image: @args;
  border-image: @args;
}

.box-shadow(@args...) {
  -moz-box-shadow: @args;
  -webkit-box-shadow: @args;
  box-shadow: @args;
}

.box-sizing(@sizing: border-box) {
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}

.transform(@args...) {
  -ms-transform: @args;
  -o-transform: @args;
  -moz-transform: @args;
  -webkit-transform: @args;
  transform: @args;
}

.rotate(@degrees) {
  .transform(rotate(@degrees));
}

.scale(@values...) {
  .transform(scale(@values));
}

.transition(@transition: .3s all linear) {
  -o-transition: @transition;
  -moz-transition: @transition;
  -webkit-transition: @transition;
  transition: @transition;
}

.filter(@filters...) {
  -webkit-filter: @filters;
  filter: @filters;
}

.animation(@name,@args...){
  -o-animation: @arguments;
  -moz-animation: @arguments;
  -webkit-animation: @arguments;
  animation: @arguments;
}

.keyframes(@animationName, @content){
  @-o-keyframes @animationName {@content();}
  @-moz-keyframes @animationName {@content();}
  @-webkit-keyframes @animationName {@content();}
  @keyframes @animationName {@content();}
}

.opacity(@transparency:0.5) {
  -ms-filter: %(~"progid:DXImageTransform.Microsoft.Alpha(Opacity=%a)",@transparency * 100);
  filter: %(~"alpha(opacity=%a)",@transparency * 100);
  opacity: @transparency;
}

.placeholder(@color) {
  &:-ms-input-placeholder {
    color: @color;
  }
  &:-moz-placeholder {
    color: @color;
  }
  &::-webkit-input-placeholder {
    color: @color;
  }
  &::-moz-placeholder {
    color: @color;
  }
}

