//translator
.mod_custom-translator {
  .mediaMax(1229px, { top: 0; });
}

.mod_custom-fontChanger {

  @media (max-width: 1000px) {
    display: none;
  }
}

//FLEXBOX fallback IE9
.mod_partners {
  .partners {
    a {
      margin-left: 10px;
      .mediaMax(500px, { width: 100%; });
      img {
        .mediaMax(500px, { margin: 0 auto; display: block; });
      }
    }
  }
}

//calendar.less
.ui-datepicker-header {
  [class*="-title"] {
    width: 50%;
    margin: 0 auto;
    [class*="month"] {
      margin-left: 18%;
      text-align: center;

      @media (max-width: 500px) {
        margin-left: 10%;
      }
    }
  }
}
