* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sr_only, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.center_block, .center-block {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto !important;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

.rul {
  margin: 0;
  padding: 0;
}

.rli {
  margin: 0;
  padding: 0;
  background: none;
  &:before {
    content: '';
  }
}

.rlist {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    background: none;
    &:before {
      content: '';
    }
  }
}

.rin {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
}

.cleaner {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  float: none;
}
