.btn {
  .transition(0.2s);
  .fp;
  margin: 0;
  padding: 0 20px;
  border: 0;
  height: @input-height;
  line-height: @input-height;
  font-size: @fontPrimary;
  font-weight: normal;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  overflow: visible;
  color: #fff;
  outline: none;
  text-align: center;
  background: @blue;
  &:hover {
    background: darken(@blue, 10%);
  }
}

.fileinputs {
  &:hover {
    input[type="button"] {
      background: darken(@blue, 10%);
    }
  }
}