
.datepicker-skin {

  margin-top: -45px;

  * {
    border: none;
    outline: none;
  }

  .ui-datepicker-header {
    a {
      &[class*="prev"], &[class*="next"] {
        display: inline-block;
        position: absolute;
        text-decoration: none;
        &::before {
          color: @darkBlue;
          position: relative;
          font-size: 50px;
          top: -20px;
          .fi;
        }
        span {
          display: none;
        }
      }

      &[class*="prev"] {
        left: 0;
        &::before {
          content: "\f104";
        }
      }

      &[class*="next"] {
        right: 0;
        &::before {
          content: "\f105";
        }
      }
    }

    [class*="-title"] {
      .flex();
      .flex-justify-content(center);

      //width: 100%;

      [class*="month"], [class*="year"] {
        .fh;
        color: @darkBlue;
        font-size: 140%;
      }
    }
  }

  .ui-datepicker-calendar {
    width: 100%;
    margin-top: 30px;
    thead {

      th span {
        .fh;
        color: #0575c7;
        font-size: 110%;
        margin-left: 10px;
        @media (max-width: 1000px) {
          padding-left: 34%;
        }
      }

    }
    td {
      height: 40px;
      line-height: 40px;
      width: 40px;
      text-align: center;
      a {
        .fp;
        color: #000;
        text-decoration: none;
        padding-left: 7px;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    [class*="other-month"] {
      visibility: hidden;
    }

    [class*="current-day"] {
      background: #068aeb;
      a {
        color: #fff !important;
        font-size: 105%;
      }
    }

    [class*="unselectable"] {
      span {
        .fp;
        color: #aaa;
        padding-left: 7px;
      }
    }
  }
}

//media for calendar
.datepicker-skin {
  .mediaBetween(700px, 1000px, { .ui-datepicker-header {
    position: relative;
    width: 100%;
    a {
      &[class*="prev"], &[class*="next"] {
        display: inline-block;
        &::before, &::after {
          top: 0;
        }
      }

      &[class*="prev"] {
        &::before {
          left: 0;
        }
      }

      &[class*="next"] {
        &::after {
          right: 0;
        }
      }
    }

    [class*="-title"] {
      height: 70px;
      padding-top: 20px;
      //.flex-align-items(center);
    }

  } margin: -50px auto 0; width: 70%; });
  .mediaMax(420px, { [class*="datepicker-calendar"] {
    * {
      font-size: 93%;
      padding: 0;
      margin: 0;
    }
    thead {
      th span {
        margin-left: 2px;
      }
    }
    td {
      a {
        margin-right: 10px;
      }
    }
  } });

}



