.mod_custom-fontChanger {
  position: absolute;
  right: 180px;
  display: inline-block;
  top: 122px; //determined by height of header
  width: 100px;
  height: 35px;
  line-height: 35px;
  z-index: 50;
  .button-wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    button {
      position: relative;
      display: inline-block;
      width: 20px;
      line-height: 100%;
      height: 100%;
    }
  }
}

.mod_custom-fontChanger {
  background: fade(#003479, 70%);
  .button-wrapper {
    button {
      .fh;
      color: #fff;
      border: none;
      outline: none;
      &:hover, &:focus {
        .animation(shake 1s both);
        .transform(translate3d(0, 0, 0));
      }
    }
    button.small {
      font-size: 14px;
    }

    button.medium {
      font-size: 18px;
    }

    button.big {
      font-size: 22px;
    }
  }
}

.keyframes(shake, { 10%, 90% {
  .transform(translate3d(-.3px, 0, 0));
} 20%, 80% {
    .transform(translate3d(.3px, 0, 0));
  } 30%, 50%, 70% {
      .transform(translate3d(-.6px, 0, 0));
    } 40%, 60% {
        .transform(translate3d(.6px, 0, 0));
      } });

//media
.mod_custom-fontChanger {
  .mediaMax(@screen-lg, { position: static; height: 45px; line-height: 45px; .button-wrapper {
    top: 50%;
    .transform(translate(0, -50%));
  } });

  .mediaMax(767px, { display: none;});
/*  .mediaMax(430px, { margin-top: 10px; float: left; });
  .mediaMax(350px, { width: 90px; });*/
}