// form
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select {
  .rin;
  .transition(0.2s);
  .border-radius(6px);
  position: relative;
  border: 1px solid @input-border;
  font-size: @input-size;
  width: 100%;
  height: @input-height;
  padding: 0 @input-padding;
  color: #000;
  background: @input-bg;
  outline: 0;
  max-width: 100%;
  &:hover,&:focus{
    border-color: lighten(@input-border,20%);
  }
  &:focus{
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
  }
  &::-webkit-input-placeholder {
    color: lighten(@black,20);
  }
  &:-moz-placeholder {
    color: lighten(@black,20);
  }
  &::-moz-placeholder {
    color: lighten(@black,20);
  }
}
textarea{
  padding: @input-padding;
  height: auto;

border: 1px solid #ccc !important;
}
select[multiple] {
  width: auto;
  height: auto;
  padding: @input-padding;
  border: 1px solid #ccc;
}
input[type=number] {
  padding-right: 0;
}
input[type=submit],
input[type=button],

input.input-mini{
  width: @input-height;
  padding-left:0;
  padding-right:0;
  text-align:center;
}
input[type=number].input-mini {
  width: @input-height+20;
}
input.input-small{
  width: 50%;
}
input.input-large{
  width: 100%;
}
.fileinputs {
  &:hover{
    input[type="button"] {
      background: darken(#ccc,10%);
    }
  }
}
// select box
.select_wrap {
  position: relative;
  display: block;
  background: @input-bg;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 0;
    margin: -3px 0 0;
    border: 6px solid transparent;
    border-top-color: @input-border;
  }
  select {
    position: relative;
    z-index: 1;
    border: 1px solid #ccc;
    width: 100%;
    height: 42px;
    line-height: 42px;
    background: red;
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance: none;
    background: none;
    padding-left: 10px;

  }
  select::-ms-expand {
    display: none;
  }
}

// checkbox, radio
.checkbox_wrap {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  .checkbox_btn {
    position: relative;
    top:3px;
    left:.5px;
    font-size: @fontPrimary;
    margin: 0 12px 0 0;
    color: darken(@input-border,20);
    &:before {
      .fi;
    }
  }
  input[type="checkbox"] + .checkbox_btn {
    &:before {
      content: '\e800';
    }
  }
  input[type="checkbox"]:checked + .checkbox_btn {
    &:before {
      content: '\e801';
    }
  }
  input[type="radio"] + .checkbox_btn {
    &:before {
      content: '\e802';
    }
  }
  input[type="radio"]:checked + .checkbox_btn {
    &:before {
      content: '\e803';
    }
  }

  input:disabled + .checkbox_btn {
    color: lighten(@input-border,0);
  }
  input {
    position: absolute;
    top: -20px;
    left: -20px;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter:alpha(opacity=0);
  }
}