/*
!** radio input **!
@radio: ~'[type="radio"]';
@radioColor: #b8b8b8;

input@{radio} {
  display: none;
  + label {
    .fp;
    &::before {
      content: "\e802";
      .fi;
      color:@radioColor;
      margin-left: -10px;
      padding-right: 10px;
    }
    &:hover, &:focus {
      &::before {
        color: darken(@radioColor, 20%);
      }
    }
    &:active {
      &::before {
        font-weight: bold;
      }
    }
  }
  &:checked {
    + label {
      &::before {
        content: "\e803";
      }
    }
  }
}

*/
