//GridSetting
@leftSide: 60%;
@rightSide: 100-@leftSide;
@gridMarginLR: 35px;

//section
@headerMarginBottom: 20px;

//item
@itemHeight: 116px;
@itemWidth: 170px;
@itemMarginBottom: 40px;
@itemContentLeft: 35px;

.makeGrid(@width) {
  position: relative;
  width: @width;
  float: left;
  .mediaMax(1000px, { width: 100%; });
}

.makeItem(@height,@marginBottom) {
  position: relative;
  height: @height;
  margin-bottom: @marginBottom;
}

//Structure of .mod_articles
.container .mod_articles {
  .makeGrid(@leftSide);
  // background: red;
  ol, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  & > header {
    margin-bottom: @headerMarginBottom;
    h1 {
      margin: 0;
      padding: 0;
    }
  }

  .item {
    .makeItem(@itemHeight, @itemMarginBottom);
    // background: green;
    * {
      position: relative;
      display: inline-block;
      margin: 0;
    }

    .img-wrapper {
      height: @itemHeight !important;
      width: @itemWidth;
      // background: black;
      float: left;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    header {
      padding-left: @itemContentLeft;
    }

    p {
      display: block;
      padding-left: @itemWidth + @itemContentLeft;
    }
    footer {
      position: absolute;
      color: white;
      bottom: 0;
      left: @itemWidth + @itemContentLeft;
    }
  }
}

//Skin of .mod_articles
.container .mod_articles {
  & > header h1 {
    position: relative;
    .fh;
    color: @darkBlue;
    font-weight: normal;
    font-size: 210%;
    top: -11px;
  }
  .item {
    header {
      margin-top: -10px;
      margin-bottom: 5px;
      & > h2 {
        color: @blue;
        font-weight: normal;
        font-size: 130%;
        margin-left: 14px;
      }
    }
    time {
      span {
        .fh;
        color: #919191;
        font-weight: bold;
        &:nth-child(n) {
          &:not(:last-child)::after {
            content: "/";
          }
        }
      }
    }

    p {
      .fp;
    }

    footer {
      &::after {
        content: "\e808";
        .fi;
        position: relative;
        bottom: -4px;
        font-size: 110%;
        color: @lightOrange;
      }

    }
  }
  nav {
    position: relative;
    left: 5px;
    top: 5px;
    margin-bottom: 50px;
    .fh;
    a {
      text-decoration: none;
      color: @blue;
      font-size: 150%;
      font-family: inherit;
      display: inline-block;
      &::before {
        content: "\f16c";
        .fi;
        font-size: 130%;
        color: @darkBlue;
        margin-right: 15px;
      }
    }
  }
}

//media of .mod_articles
.container .mod_articles {
  .item {
    header {
      .media(@xs, { position: relative; margin-bottom: 10px; });
      .mediaMax(500px, { padding-left: 0; });
    }
    time span {
      .mediaMax(500px, { display: none; });
    }
    .img-wrapper {
      .mediaMax(500px, { display: none; });
    }
    p {
      .mediaMax(500px, { padding-left: 0; });
    }
    .media(@xs, { height: @itemHeight + 25px; });
    .mediaMax(500px, { position: static; height: auto; });
    footer {
      .media(@md, { position: static; float: left; padding-left: @itemContentLeft; });
      .mediaMax(600px, { position: static; float: right; margin-top: 10px; padding-right: @itemWidth + 2*@itemContentLeft; });
      .mediaMax(500px, { float: left; padding-left: 0; });
    }
  }
}

//Structure of .mod_aside
.container .mod_aside {
  .makeGrid(@rightSide);
  .mod_custom_info {
    // background: red;
    & > header {
      margin-bottom: @headerMarginBottom;
      h2 {
        margin: 0;
        padding: 0;
      }
    }
    dl {
      // background: brown;
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
    dt {
      float: left;
      width: 8%;

    }
    dd {
      float: left;
      width: 92%;
    }
  }
}

//Skin of .mod_aside
.container .mod_aside {
  .makeGrid(@rightSide);
  padding-left: 30px;
  .mod_custom_info {
    padding-left: 43px;
    .fh;
    & > header {
      margin-top: -3px;
      margin-bottom: 25px;
      h2 {
        .fh;
        font-size: 170%;
        color: @blue;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    dl {
      position: relative;
      overflow: visible;
      &::after {
        content: "\e80c";
        .fi;
        position: absolute;
        right: -59px;
        display: block;
        height: 58px;
        line-height: 53px;
        width: 122px;
        font-size: 155%;
        color: @white;
        padding-left: 10px;
        text-align: center;
        background: url("@{img}/bg/sideShape.png") no-repeat center center;
        .background-size(contain);
      }

    }
    dt, dd {
      .fh;
      font-size: 130%;
      line-height: 29px;
      height: 29px;
      display: block;
    }
    dt {
      color: @blue;
      font-weight: bold;
    }
    dd {
      color: @darkBlue;
    }
  }
  .mod_custom_address {
    position: relative;
    top: 32px;
    margin-top: 165px;
    h3 {
      .fh;
      color: @blue;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
    div {
      .fp;
      line-height: 37px;
      height: 30px;
    }
    .tel {

      margin-top: 18px;
      a {
        .fh;
        color: @blue;
        font-size: 150%;
        text-decoration: none;
      }
    }
    &::after {
      content: "\f0e0";
      .fi;
      position: absolute;
      top: 5px;
      right: -59px;
      display: block;
      height: 58px;
      line-height: 52px;
      width: 122px;
      font-size: 135%;
      color: @white;
      padding-left: 10px;
      text-align: center;
      background: url("@{img}/bg/sideShape.png") no-repeat center center;
      .background-size(contain);
    }
  }
  &:nth-child(even)::after {
    content: "";
    display: block;
    background: url("@{img}/fontelloIcons/shadow.png") no-repeat center center;
    .background-size(contain);
    height: 50px;
    margin: 55px 30px 0;
  }
}

//media of .mod_aside
.container .mod_aside {
  .mediaMax(1000px, { padding-left: 0px; });
  .mediaMax(600px, { &::after {
    margin: 30px 0 0;
  } });

  .mod_custom_info {
    .mediaMax(1000px, { padding-left: 0px; });
  }
  dl, .mod_custom_address {
    .mediaBetween(1200px, 1260px, { &::after {
      right: 0 !important;
    } });
    .mediaMax(1000px, { &::after {
      .transition();
      right: 0 !important;
    } });

    .mediaMax(440px, { &::after {
      z-index: -1;
      .opacity(.5);
      .rotate(-3deg);
    } });

    .mediaMax(319px, { &::after {
      display: none !important;
    } });
  }
  dt {
    .media(@xxs, { width: 11% !important; });
  }
  dd {
    .media(@xxs, { width: 89% !important; });
  }
}

//skin of .mod_aside containing .mod_c.._recommendation
.container .mod_aside {
  padding-left: 30px;
  .mod_custom_recommendation {
    padding-left: 43px;
    .fh;
    & > header {
      margin-top: -12px;
      h2 {
        .fh;
        color: @darkBlue;
        font-weight: normal;
        font-size: 205%;
      }
    }
  }
}
