//structure of tabs
.tabs {
  ul {
    list-style-type: none;
    li {
      a {
        text-decoration: none;
        color: inherit;
        display: block;
      }
      padding: 0;
      display: inline-block;
      float: left;
      &::before {
        content: "";
      }
    }
  }
}

//skin of tabs
.tabs {
  ul {
    background: red;
    width: 120%;
    li {
      //     background: blue;
      width: 45%;
      position: relative;
      top: -10px;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        right: -13px;
        width: 13px;
        border-bottom: 1px solid #ccc;

      }

      &:nth-child(1) {
        left: -37px;
        //    background: green;

      }
      &:nth-child(2) {
        right: 25px;
        // background: yellow;

      }
      a {
        height: 55px;
        line-height: 55px;
        font-size: 22px;
        padding: 4px 0 0 27px;
        color: @blue;
        .fh;
        text-transform: uppercase;
        border: 1px solid #ccc;
        //  .transition();

        &::after {
          .fi;
          position: absolute;
          right: 10px;
          top: -23px;
          color: @white;
          display: inline-block;
          height: 90px;
          width: 37px;
          background: url("@{img}/bg/flags/verticalFlag.png") no-repeat center center;
          .background-size(contain);

        }

        &[href="#knihy"],&[href="#upoutavky"] {
          &::after {
            font-size: 20px;
            padding-top: 24px;
            padding-left: 7px;
          }
          &.active {
            border-bottom: none;
          }
        }
        &[href="#knihy"] {
          &::after {
            content: "\e80d";
          }
        }
        &[href^="#upoutavky"] {
          &::after {
            content: "\e80e";
          }
        }
        //  .transition();
        &:hover {
        //  background: fade(#ccc, 35%);
        }
      }
    }
  }
}

//content of tabs
.tabs {
  .img-wrapper {
    width: 100%;
    // background: red;

    footer {

      margin-top: 17px;
      text-align: center;
      p {
        &.title {
          .fh;
          font-weight: bold;
          font-size: 110%;
        }
        &.name {
          font-size: 80%;
          .fp;
          font-style: italic;
        }
      }
    }
  }
  figure {
    width: 49%;
    position: relative;
    top: 40px;
    left: -20px;
    z-index: 2;
    display: inline-block;
    &:nth-child(2) {
      left: -10px;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

//media of tabs
.tabs {
  .mediaBetween(1229px, 1250px, { position: relative;  left: 55px; width: 75%;});
  .mediaBetween(@screen-md, 1000px, { width: 90%; });
  .mediaMax(850px, { width: 90%; });

  ul {
    li {
      .mediaBetween(@screen-lg, 1250px, { margin-left: -10px; &:nth-child(n) {
        &::after {
          display: none;
        }
      } });

      a {
        .mediaBetween(1000px, 1250px, { font-size: 18px; padding-left: 15px; });
        .mediaMax(500px, { font-size: 18px; padding-left: 10px; });
        .mediaMax(400px, { font-size: 17px; padding-left: 5px; &::after {
          right: 0;
        } });
        .mediaMax(350px, { font-size: 17px; padding-left: 0; text-align: center; &::after {
          display: none;
        } });
      }
    }
  }

  figure {
    .mediaMax(500px, { margin: 0; padding: 0; position: static; width: 45%; });
    .mediaMax(370px, { width: 100%; margin: 0 auto; });
  }
}



