.mod_custom-translator {

  position: absolute;
  right: 0;
  display: inline-block;
  top: 122px; //determined by height of header

  .translator {
    margin-top: -10px;
    height: 45px;

  }
  * {;
    .fp;
    font-size: 95%;
    color: #fff !important;
    background-color: transparent !important;
    outline: none !important;
    padding: 2px !important;
    border: none !important;

    span {
      img {
        display: none;
      }
      &:nth-last-child(3) {
        &:before {
          content: "|";
        }
      }
      a {
        display: inline-block;
      }
    }
    img {
      margin-top: 5px;
      margin-left: 5px;
      background: transparent url("https://translate.googleapis.com/translate_static/img/te_ctrl3.gif") no-repeat center center !important;

      background-position: -65px 0 !important;
      .background-size(contain);
      outline: none !important;
      border: none !important;
    }
  }
  background: fade(#003479, 70%) !important;
  //.mediaMax(500px, { display: none; })

  .mediaMax(@screen-lg, { position: relative; top: 8px;

    .translator {
    margin-top: 0 !important;;
    height: auto;
  } });
  .mediaMax(767px, { top: 0; });
  .mediaMax(430px, { position: static; margin-top: 10px; margin-left: 15px; float: left; });
  .mediaMax(350px, { width: 58%; });

}

