nav.more {
  margin: 20px 0;
  text-align: center;
  background: @lightBlue;
  .border-radius(5px);

  float: right;
  .transition();
  &:hover {
    background: darken(@lightBlue, 5%);
  }
  a {
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    &:after {
      .fi;
      position: relative;
      content: "\f105";
      margin: 0 0 0 10px;
      font-size: 110%;
    }
  }
}

table.normal {
  margin: 40px 0;
  width: 100%;
  border: 1px solid #fff;
  th, td {
    padding: 6px 8px;
    font-weight: normal;
    font-size: 16px;
    border: 1px solid #fff;

  }
  tbody tr {
    &:nth-child(even) {
      background: fade(@lightBlue, 20%);
    }
    &:nth-child(odd) {
      background: fade(@lightBlue, 30%);
    }
  }
  &.compact th, &.compact td {
    padding: 2px 8px;
  }
  th, thead td, thead th {
    .fh;
    font-weight: bold;
    color: @darkBlue;

  }
  thead td, thead th, thead a {
    border-bottom-color: @darkBlue;
    border-top-color: transparent;
    background: @blue;
    color: #fff;
    font-size: 115%;
  }
  thead a {
    font-size: 105%;
  }
  tfoot td {
    .fh;
    background: fade(@lightBlue, 55%);
     }
  @media @xs {
    &, thead, tbody, tfoot, tr, td, th {
      display: block;
    }

    th, td {
      border: 0;
      margin: 0 0 1px;
    }

    &.bt thead, &.bt tbody th {
      display: none;
    }

    &.bt tfoot th, &.bt tfoot td, &.bt tbody td {
      vertical-align: top;
      margin: 0 0 1px;
    }

    &.bt tfoot th:before, &.bt tfoot td:before, &.bt tbody td:before {
      content: attr(data-th);
      font-weight: bold;
      margin: -6px 0 -6px -8px;
      padding: 6px 8px;
      width: 40%;
      display: inline-block;
      vertical-align: top;
      word-wrap: break-word;
      color: #fff;
      background: lighten(#eee, 0);
    }

    &.bt tfoot th.bt-hide, &.bt tfoot td.bt-hide, &.bt tbody td.bt-hide {
      display: none;
    }

    &.bt tfoot th .bt-content, &.bt tfoot td .bt-content, &.bt tbody td .bt-content {
      vertical-align: top;
      display: inline-block;
      width: 60%;
      padding: 0 0 0 20px;
    }
  }
}

table.info {
  margin: 0 0 20px 0;
  border: none;
  td, th {
    border: none;
    padding: 0 7px 0 0;
  }
}

table.normal.compact {
  tr {
    th {
      color: #fff;
      background: @lightBlue;
      font-weight: bold;
      font-size: 115%;
      span{
        color: inherit;
        font-size: 100%;
      }
    }
    td {
      a {
        color: @blue;
      }
    }
  }
}

form.normal {
  margin: 0 0 20px 0;
  label {
    display: block;
    margin: 0 0 10px 0;
    font-weight: bold;
  }
  .optgroup label {
    display: inline-block;
    font-weight: normal;
    margin: 0 5px 0 0;
  }
  .fileinputs {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: default;
    input.type-file{
      position:absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      height: 100%;
      font-size: 999em;
      z-index: 1;
      cursor: default;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
      filter: alpha(opacity=0);

    }
    .fakefile {
      .clearfix;
      display: block;
      input[type="button"] {
        position: absolute;
        top:0;
        right:0;
        width: 40%;
        height: 100%;
        border-radius: 5px;
        color: #fff;
        .fh;
        outline: none;
        border: none;
        background: fade(@lightBlue,80%);
      }
    }
  }
}

.search-results .highlight, .results .highlight {
  background: fade(@lightBlue, 75%);
  padding: 0 5px;
  color: #fff;

}

.search-results {
  a {
    color: fade(@lightBlue, 75%);
  }
}

.pagehub {
  clear: both;
  text-align: center;
  margin: 40px 0;
  a, span {
    .fh;
    .border-radius(50%);
    vertical-align: middle;
    padding: 0;
    font-size: 14px;
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: @blue;
    text-decoration: none;
    color: #fff;
    &.first, &.prev, &.next, &.last {
      font-size: 0;
      font-weight: normal;
      &:before {
        .fi;
        font-size: 20px;
        background: @blue;
        color: #fff;
        display: inline-block;
        .border-radius(50%);
        width: 38px;
        height: 38px;
        line-height: 38px;
      }
    }

    &.first {
      &:before {
        content: '\f100';
      }
    }
    &.prev:before {
      content: '\f104';
    }
    &.next:before {
      content: '\f105';
    }
    &.last {
      &:before {
        content: '\f101';
      }
    }
  }

  span.first, span.prev{
    background: transparent;
    &:before{
      background: #ccc;
    }
  }

  span.next, span.last{
    background: transparent;
    &:before{
      background: #ccc;
    }
  }
  span.pagenav {
    color: #fff;
    background: #ff7b00;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    width: 42px;
  }
  span.pagenav-ico {
    cursor: default;
    background: lighten(#ccc, 45%);
  }
}

.clear-decor, .description_separator, .article_separator {
  clear: both;
  margin: 30px 0;
  height: 4px;
  border-top: 1px solid @darkBlue;
  border-bottom: 1px solid @darkBlue;
}

img.img-left, img[align=left] {
  float: left;
  margin: 0 15px 5px 0;
  @media @xs {
    display: block;
    float: none;
    margin: 10px 0;
  }
}

img.img-right, img[align=right] {
  float: right;
  margin: 0 0 5px 15px;
  @media @xs {
    display: block;
    float: none;
    margin: 10px 0;
  }
}

a.xeditorpopup img {
  .transition(0.2s);
  .border-radius(6px);
  padding: 16px;
  border: 1px solid #ccc;
}

a.xeditorpopup:hover img {
  border-color: @darkBlue;
}

#system-message dt {
  display: none;
}

#system-message {
  .message {
    position: relative;
    padding: 10px 15px 10px 50px;
    margin: 0 0 15px 0;
    background: @darkBlue;
    color: #fff !important;
    .border-radius(5px);
    &:before {
      .fi;
      content: '\e804';
      position: absolute;
      top: 10px;
      left: 0;
      width: 50px;
      text-align: center;
      font-weight: normal;
    }
    ul {
      .rul;
      li {
        color: #fff !important;
        .rli;
      }
    }
  }
  .notice {
    background: @blue;
    &:before {
      content: '\e805';
    }
  }
  .warning, .error {
    background: #f00;
    &:before {
      content: '\e806';
    }
  }
  .error {
    &:before {
      content: '\e807';
    }
  }
}

#gotop {
  a {
    .transition(0.2s);
    .border-radius(50%);
    position: fixed;
    z-index: 99999;
    bottom: -50px;
    right: 20px;
    height: 50px;
    width: 50px;
    text-indent: -9999px;
    line-height: 50px;
    text-align: center;
    background: fade(@blue, 80);
    color: #fff;
    text-decoration: none;
    &:before {
      .fi;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-indent: 0;
      content: '\e80b';
      font-size: 18px;
    }
    &:hover {
      background: @blue;
    }
  }
  &.on {
    a {
      bottom: 20px;
    }
  }
}

.mod_breadcrumbs {
  margin: 15px 0;
  ul {
    li {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      color: #999;
      margin: 0 3px 0 0;
      &:not(:last-child)::after {
        .fi;
        display: inline-block;
        vertical-align: middle;
        content: '\f105';
        margin: 0 0 0 5px;
      }
      &:last-child {
        font-size: 16px;
        color: @darkBlue;
      }

      &.home {
        a {
          font-size: 0;
          text-decoration: none;
          &:before {
            .fi;
            content: '\e818';
            font-size: 20px;
          }
        }
      }
      a {
        display: inline-block;
        vertical-align: middle;
        color: #999;
        text-decoration: none;
        &:hover {
          color: @darkBlue;
        }
      }
    }
  }
}

input,textarea {
  &:hover, &:focus {
    border: 1px solid #ccc !important;
  }
}

textarea{
  padding: 10px !important;
 }

.normal-button{
  height: 37px;
  line-height: 37px;
  min-width: 80px;
  padding: 0 5px;
  color: #fff;
  border: none;
  outline: none;
  background: fade(@lightBlue,80%);
  .border-radius(5px);
  &:hover, &:focus{
    outline: none;
  }
}