/*  Fonts */
@fontPrimary: 150%;
//Main
.fp {  font-family: 'Open Sans', sans-serif;}
//Header
.fh {  font-family: 'ITC Officina Sans', sans-serif;}
//Icon
.fi {  font-family: 'icons', sans-serif;}

/*  Paths */
@img: "../images/";

/*  Colors  */
@bodyBackground: #fff;
@fontColor: #000;

@black: #000;
@white: #fff;
@blue: #0575c7;
@lightBlue: #068aeb;
@darkBlue: #003479;
@lightOrange: #f8b700;
@darkOrange: #ff7b00;

/*  LineHeights */
@lineHeightHeader: 1.2em;
@lineHeightPrimary: 1.4em;

/*  Form setUp  */
@input-size: 16px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

/*
*  CUSTOMIZED BOOTSTRAP GRID
*
*   TODO make optimal conversion between container and breakpoint width
*   HEADS UP!!!
*      > Changing width requires optimize width with appropriate container or breakpoint (in pair)
*      > After applying changes, always make sure to test in browser if container does not overflow before media query fires
*/

//Container width -> summary width must be always lower than breakpoint width (how exactly lower?...)
@container-lg: (1180px + @grid-gutter); //1140+30
@container-md: (940px + @grid-gutter);  //940+30
@container-sm: (720px + @grid-gutter);  //720+30
@container-xs: 100%;

//Breakpoints
@screen-lg: 1230px; //1200
@screen-md: 992px;  //992
@screen-sm: 768px;  //768
@screen-xs: 480px;  //480

@screen-lg-max: (@screen-lg - 1);
@screen-md-max: (@screen-md - 1);
@screen-sm-max: (@screen-sm - 1);
@screen-xs-max: (@screen-xs - 1);

//Gutter
@grid-gutter: 30px; //30

//Media query
@lg: %(~"(min-width:%a)", @screen-lg);
@md: %(~"(min-width: %a) and (max-width: %a)", @screen-md, @screen-lg-max);
@sm: %(~"(min-width: %a) and (max-width: %a)", @screen-sm, @screen-md-max);
@xs: %(~"(min-width: %a) and (max-width: %a)", @screen-xs, @screen-sm-max);
@xxs:%(~"(max-width: %a)", @screen-xs-max);



