html, body, input, select, textarea {
  .fp;
}


body {
  font-size: @fontPrimary;
  line-height: @lineHeightPrimary;
  font-weight: normal;
  color: @black;
  background: @bodyBackground;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  .fh;
  margin: 0 0 10px;
  line-height: @lineHeightHeader;
  font-weight: normal;
}

h1 {
  font-size: @fontPrimary*2.1;
}

h2 {
  font-size: @fontPrimary*1.9;
}

h3 {
  font-size: @fontPrimary*1.7;
}

h4 {
  font-size: @fontPrimary*1.5;
}

h5 {
  font-size: @fontPrimary*1.3;
}

h6 {
  font-size: @fontPrimary;
}

p {
  margin: 0 0 20px;
}

ul, ol {
  padding: 0;
  margin: 0 0 20px;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
  margin-top: 0;
}

ul > li {
  position: relative;
  list-style-type: none;
  padding: 0 0 0 16px;
  margin: 0;
  &:before {
    .fi;
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 12px;
    line-height: 1;
    content: '\e80a';
  }
  & > ul {
    padding: 10px 0 10px 20px;
  }
}

ol {
  list-style: decimal;
  & > li {
    margin: 0 0 0 20px;
  }
  & > ol {
    padding: 10px 0;
  }
}

hr {
  margin: 0 0 20px;
  border: 0;
  border-top: 1px solid lighten(@black, 30%);
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

sup, sub {
  position: relative;
  vertical-align: baseline;
  font-size: 60%;
  line-height: 1;
}

sup {
  bottom: 1.4ex;
}

sub {
  top: .7ex;
}

a {
  color: @blue;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

mark {
  color: inherit;
}