.mod_menu-footer {
  position: relative;
  top: -25px;
  margin-bottom:30px;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    li {
      &:first-child {
        padding-left: 0;
      }
      display: inline-block;
      &::before {
        content: "";
      }
      &:not(:last-child)::after {
        content: ", ";
        color: #fff;
      }
      a {
        font-size: 85%;
        color: #fff;
        text-decoration: none;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}