@p_shadowHeight: 30px;
//structure
.mod_partners {

  & > h2 {
    display: none;
  }
  margin-bottom: @p_shadowHeight;
  .links, .partners {
    width: 50%;
    margin-bottom: 20px;
  }
  .links {
    float: left;
  }
  .partners {
    float: right;
    .flex();
    .flex-wrap(wrap);
    .flex-justify-content(space-between);
    .flex-align-items(center);
    a {
      margin-top: 10px;
      float: left;
    }
  }
}

//skin
.mod_partners {
  position: relative;
  //background: red;
  .links, .partners {
    h2 {
      width: 100%;
      .fh;
      position: relative;
      top: 15px;
      color: @blue;
      font-weight: normal;
      font-size: 180%;
      text-transform: uppercase;
    }
  }
  .links {
  }
  .partners {
    a {
      text-decoration: none;
      img {
        .border-radius(2px);
      }
    }
  }
  &::before {
    content: "";
    display: block;
    background: url("@{img}/fontelloIcons/shadowWide.png") no-repeat;
    .background-size(contain);
    width: 50%;
    height: 30px;
    margin: 0 auto;
    margin-bottom: -30px;
  }

}

//media
//structure
.mod_partners {
  .links, .partners {
    .mediaMax(1000px, { width: 100%; .flex-justify-content(space-around); });
  }

  &::before {
    .mediaMax(1000px, {
      width: 100%;
    });
  }
}