@s_colWidth: 29%;
@s_paddingLeft: 40px;
.makeCol(@width, @marginL) {
  width: @s_colWidth;
  position: relative;
  float: left;
  margin-left: @marginL;
  .mediaMax(1000px, { margin-left: 0; width: 100%; });
}

//structure of .mod_services
.mod_services {
  position: relative;
  margin-top: 95px;
  padding-bottom: 75px;

  .container {
    .mod_services-calendar {
      .makeCol(@s_colWidth, 0);
      padding: 0;
      margin: 0;
    }
    .mod_services-poll {
      .makeCol(@s_colWidth, 6%);
      .poll-description {
        position: relative;
        top: -57px;
      }
    }
    .mod_newsletter {
      .makeCol(@s_colWidth, 7%);

    }
  }

  article {
    position: relative;
    h2 {
      position: relative;
      top: -35px;
    }
  }
}

//skin of .mod_services
.mod_services {
  // border: 1px solid red;
  background: transparent url("@{img}/bg/footerBg.png") repeat;
  > h2:first-child {
    display: none;
  }
  .container {
    padding-top: 60px;
    .mod_services-calendar {
      h2 {
        color: @darkBlue;
        &::after {
          content: "\f133";
          .fi;
          position: absolute;
          top: -5px;
          right: -14px;
          height: 58px;
          line-height: 50px;
          width: 122px;
          font-size: 68%;
          padding-left: 54px;
          color: @white;
          background: url("@{img}/bg/flags/calendarFlag.png") no-repeat center center;
          .background-size(contain);
        }
      }
    }

    .mod_services-poll {
      padding-left: @s_paddingLeft;
      // background: brown;
      h2 {
        color: @blue;
        text-transform: uppercase;
        &::after {
          content: "\e80f";
          .fi;
          position: absolute;
          top: -5px;
          right: -30px;
          height: 58px;
          line-height: 50px;
          width: 122px;
          font-size: 80%;
          padding-left: 53px;
          color: @white;
          background: url("@{img}/bg/flags/pollFlag.png") no-repeat center center;
          .background-size(contain);
        }
      }
      .poll-description {
        .fh;
        font-size: 125%;
        color: @blue;
      }
      form {
        position: relative;
        top: -43px;

        ul {
          list-style-type: none;
          li {
            height: 28px;
            line-height: 28px;
            padding: 0;
            &:before {
              content: "";
            }
          }
        }

        label {
          .fh;
          font-size: 115%;
        }

        input[type="submit"], button {
          position: relative;
          top: 27px;
          .fh;
          color: @lightBlue;
          font-size: 140%;
          margin-left: 35px;
          padding: 3px 5px;

        }

        .pollSubmit, .showResults {
          margin-left: -5px;
          margin-top: -5px;
          &::before {
            .fi;
            color: @darkBlue;
            font-size: 115%;
            padding-right: 15px;
          }
          &::after {
            content: "";
            display: block;
            border-bottom: 1px solid @blue;
            width: 50%;
            visibility: hidden;
            ///    .transition(0.1s all linear);
          }
          &:hover::after {
            visibility: visible;
            width: 100%;
          }
        }

        .pollSubmit {
          margin-right: 30px;
          &::before {
            content: "\e810";
          }

        }
        .showResults {
          &::before {
            content: "\f200";
          }
        }
      }
    }
    .mod_newsletter {
      padding-left: 50px;
      color: @blue;
      // background: blue;
      h2 {
        top: -40px;
        font-size: 180%;
        text-transform: uppercase;
        padding-right: 40%;
        width: 100%;
        &::after {
          content: "\f1d8";
          .fi;
          position: absolute;
          top: 8px;
          right: -38px;
          height: 58px;
          line-height: 53px;
          width: 122px;
          font-size: 90%;
          padding-left: 52px;
          color: @white;
          background: url("@{img}/bg/flags/newsFlag.png") no-repeat center center;
          .background-size(contain);
        }

      }
      p {
        position: relative;
        top: -60px;
        .fp;
      }
      nav {
        float: right;
        a {
          position: relative;
          top: -25px;
          // right: -25px;
          text-decoration: none;
          display: block;
          background: @lightBlue;
          height: 50px;
          text-transform: uppercase;
          color: @white;
          text-align: center;
          padding-left: 10px;
          .fh;
          font-size: 125%;
          line-height: 50px;
          width: 85px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 0;
            height: 0;
            background: url("@{img}/bg/footerBg.png") repeat center center;
            border-top: 25px solid @lightBlue;
            border-bottom: 25px solid @lightBlue;
            border-left: 14px solid transparent;
          }

          &:hover {
            background: darken(@lightBlue, 10%);
            -webkit-box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.2);

          }
          &:hover::before {
            border-top: 25px solid darken(@lightBlue, 10%);
            border-bottom: 25px solid darken(@lightBlue, 10%);
            border-left: 14px solid transparent;
          }

          &:active, &:focus {
            position: relative;
            top: -24px;
            left: .5px;
            outline: none;
          }

        }
      }
    }
  }

  article {
    padding-left: 25px;
    h2 {
      .fh;
      font-size: 210%;
      font-weight: normal;
    }
  }
}

//media of mod_services
.mod_services {

  .container {

    .mediaMax(1000px, { width: 95%; });
    .mod_services-poll, .mod_services-calendar, .mod_newsletter {

      h2::after {
        .mediaMax(1000px, { right: -20px; });
      }
      .mediaMax(1000px, { padding-left: 0; margin: 15px 0; });
    }

    .mod_services-poll {

      .mediaBetween(700px, 1000px, { .poll-description, form {
        /*      margin: 0 auto;
             width: 40%;*/
      } });
      .mediaMax(340px, { .pollSubmit, .showResults {
        margin: 10px 0;
      } });
    }

    .mod_services-calendar {
      .media(1000px, 1199px, { h2::after {
        right: -45px;
      } });
    }

    .mod_newsletter {

      p {
        .mediaMax(1000px, { top: -40px; });
      }

      h2::after {
        .mediaBetween(@screen-lg-max, 1300px, { right: 0px; });
        .mediaBetween(1000px, 1050px, { right: -20px; });

      }

      nav a {
        .mediaBetween(@screen-lg-max, 1300px, { right: 20px; });
      }
    }
  }
}