@menuColor: @white;
@menuLinkBg: #f8b700;
@menuLinkHoverBg: @menuLinkBg;
@menuListBg: #f2a500;
@menuSubLiColor: @darkBlue;
@menuWidth: 29.5%;
@menuHeight: 130px;
@subLiHeight: 50px;
@liContentPaddingLeft: 45px;

ul.menu {
  list-style-type: none;
  width: @menuWidth;

  a {
    text-decoration: none;
    color: @menuColor;
    text-transform: uppercase;

  }
  li {
    height: @menuHeight;
    line-height: @menuHeight;
    background: @menuLinkBg;
    padding: 0;
    text-align: center;
    &:first-child::before {
      content: "";
    }

    a {
      position: relative;
      font-size: 110%;
      width: 100%;
      font-weight: bold;
      display: inline-block;
      line-height: @menuHeight;
      height: @menuHeight;
      top: -5px;
      .fh;
      &::after {
        content: "";
        position: relative;
        z-index: 10;
        display: block;
        height: 20px;
        bottom: 15px;
        .box-shadow(inset 0px -20px 0px 0px rgba(0, 0, 0, 0.1));
      }

    }
    ul {
      display: none;
      color: inherit;
      //background: @menuListBg;
      margin-top: -3px;
      padding: 0;
      .transition();
      li {
        background: inherit;
        text-align: left;
        padding-left: @liContentPaddingLeft;
        height: @subLiHeight;
        line-height: @subLiHeight;
        &:nth-child(n)::before {
          content: "\e80a";
          color: @white;
          margin-left: 5px;
          display: block;
          font-size: 110%;
          height: @subLiHeight;
          line-height: @subLiHeight;
          padding-left: @liContentPaddingLeft;
          .fi;
        }
        &:nth-child(n):hover::before {

        }

        a {
          position: relative;
          z-index: 5;
          top: 2px;
          height: @subLiHeight;
          line-height: @subLiHeight;
          color: @white;
          padding-left: @liContentPaddingLeft*2;
          font-weight: normal;
          left: -@liContentPaddingLeft;
          text-transform: none;
          //background: red;
          width: calc(100% + 14.5px);
          &:hover {
            background: fade(#000, 15%);
          }
          &::after {
            .box-shadow(none);
          }
        }
      }
    }
    //Display submenu while hovering parent
    &:hover, &:focus {
      background: @menuLinkHoverBg;
      ul {
        display: block;
      }
    }
  }
}

.mod_menu-submenu {
  margin-top: -260px;
  //margin-top: -13.8%;
  margin-bottom: 130px;
  z-index: 5;
  ul.menu {
    > li:first-child {
      font-size: 150%;
    }

    &:nth-child(n) {
      position: relative;
      &::before {
        .fi;
        position: absolute;
        top: 50%;
        .transform(translate(0, -50%));
        left: -11px;
        z-index: 8;
        display: block;
        height: 65px;
        line-height: 47px;
        width: 65px;
        padding: 4px 13px 0 0;
        text-align: center;
        color: @white;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -26px;
        z-index: -1;
        background: url("@{img}/fontelloIcons/shadow.png") no-repeat center center;
        .background-size(contain);
        width: 100%;
        height: 35px;
        //place for shadow
      }

    }

    &:first-child {
      float: left;
      @color: #f8b700;
      li {
        background: @color;
        ul {
          li {
            background: darken(@color, 2%);
          }
        }
      }
      &::before {
        content: "\e814";
        color: @blue;
        font-size: 33px;
        background: url("@{img}/bg/flags/submenuYellow.png") no-repeat center center;
        .background-size(contain);
      }
    }
    &:nth-child(2) {
      .center-block;
      @color: #ff7b00;
      li {
        background: @color;
        ul {
          li {
            background: darken(@color, 2%);
          }
        }
      }
      &::before {
        content: "\e812";
        font-size: 13px;
        background: url("@{img}/bg/flags/submenuOrange.png") no-repeat center center;
        .background-size(contain);
      }
    }
    &:last-child {
      float: right;
      @color: #0575c7;
      li {
        background: @color;
        ul {
          li {
            background: darken(@color, 2%);
          }
        }
      }
      &::before {
        content: "\e813";
        font-size: 25px;
        background: url("@{img}/bg/flags/submenuBlue.png") no-repeat center center;
        .background-size(contain);
      }
    }
  }
}

//media for submenu
.mod_menu-submenu {
  ul.menu {
    .media(@md, { li {
      a {
        font-size: 85%; //size of
      }
      ul {
        li {
          a {
            font-size: 100%;
            width: calc(100% + 19px); //width of submenu hover
          }
        }
      }
    } &:nth-child(n) {
        &::after {
          bottom: -25px; //shadow.png
        }
      } });
    .media(@sm, { > li {
      height: 80px;
      margin: 0;
      padding: 0;
    } li {
        a {
          top: -25px;
          font-size: 85%; //size of
          &::after {
            z-index: 1;
            .box-shadow(inset 0px -15px 0px 0px rgba(0, 0, 0, 0.1));
            bottom: 46px; //box shadow
          }
        }

        ul {
          z-index: 2;
          margin-top: -51px;
          // display: block; //?!"
          li {
            &:nth-child(n)::before {
              padding-left: 10px;
            }
            a {
              top: 0;
              padding-left: 40px;
              font-size: 100%;
              width: calc(100% + 25px); //width of submenu hover
              &::after {
                .box-shadow(none);
              }
            }
          }
        }
      } &:nth-child(n) {
          .transition();
          &::before {
            display: none; //flag
          }
          &::after {
            bottom: -23px; //shadow.png
          }
        } });

    .mediaMax(@screen-sm-max, { &:nth-child(n) {
      position: relative;
      display: block;
      width: 85%;
      float: left;
      left: 8.5%;
    } li {
        a {
          font-size: 100%;
          &::after {
            position: relative;
            z-index: 0;
            // bottom: 15px;
          }
        }
        ul {
          margin-top: -5px; //!
          position: relative;
          z-index: 10;
          li {
            top: -1px; //!
            position: relative;
            z-index: 5;
            display: block;
            &::before {
              padding-left: 70px;
            }
            a {
              padding-left: 120px;
              z-index: 6;
              width: 108%;
            }
          }
        }

      } &:nth-child(n) {
          &::after {
            display: none;
          }
        } });

    .mediaMax(400px, { &:nth-child(n) {
      position: relative;
      display: block;
      width: 90%;
      float: left;
      left: 5.5%;
    } li {
        a {
          font-size: 85%;
          padding-left: 70px;
          text-align: left;
          &::after {
            position: relative;
            z-index: 0;
            margin-left: -70px;

            // bottom: 15px;
          }
        }
        ul {
          //  display: block;
          margin-top: -5px; //!
          position: relative;
          z-index: 10;
          li {
            &::before {
              padding-left: 30px;
            }
            a {
              padding-left: 70px;
              z-index: 6;
              width: 117%; //width of submenu hover
            }
          }
        }

      } &:nth-child(n) {
          &::after {
            display: none;
          }
        } });

  }

  .mediaMax(@screen-sm-max, { position: relative; top: 100px; });

}